header {
    width: 100vw;
    padding: 2rem 6rem;
    border-bottom: 1px solid var(--color-accent-alt);

    nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        ul {
            display: flex;
            gap: 3rem;
            font-size: 1.6rem;
    
            li {
                &:hover {
                    color: var(--color-accent);
                }
            }
        }
    }
}
